{% extends 'base.html' %}

{% block app_content %}
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
            <h1>How to Test WhatsApp chatbot</h1>
            <p>
                This chatbot does not run on the web. You need to use
                your <a href="https://www.whatsapp.com/?lang=en">WhatsApp</a> 
                application to test it out.
                Learn how to setup your phone to work with Twilio and WhatsApp 
                <a href="https://github.com/GitauHarrison/notes/blob/master/simple_whatsapp_chatbot.md">here</a>.
            </p>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
            <h3>Requirements</h3>
            <ul>
                <li>A smartphone with an active number and WhatsApp installed</li>
                <li>A Twilio Account. Get <a href="https://www.twilio.com/try-twilio?promo=WNPWrR">one for free</a> now</li>                
            </ul>            
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
            <h3>Start Sending and Receiving Messages</h3>
            <ul>
                <li>Add the phone number +1 415 523 8886  to your contact list.</li>
                <li>Send the code <code>join-&lt;code&gt;</code> to the number above. If you have WhatsApp installed, you can <a href="http://wa.me/+14155238886?text=join%20who-smoke">click here</a>.</li>
            </ul>
            <p>You can also invite your friends to your Sandbox. Ask them to send a WhatsApp Message to the number above with your code</p>
        
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
            <h3>Output</h3>
            <img class="img-fluid" style="max-width: 100%; height: auto;" src="{{ url_for('static', filename='images/whatsapp_chatbot.gif') }}">
        </div>
    </div>
{% endblock %}