{% extends 'base.html' %}

{% block app_content %}
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
            <h1>How to Test WhatsApp chatbot</h1>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
            <h3>Requirements</h3>
            <ul>
                <li>A smartphone with an active number and WhatsApp installed</li>
                <li>A Twilio Account. Get <a href="http://www.twilio.com/referral/7fB3Je">one for free</a> now</li>                
            </ul>
            <p>
                Learn how to setup your phone to work with Twilio and WhatsApp <a href="https://github.com/GitauHarrison/notes/blob/master/simple_whatsapp_chatbot.md">here</a>.
            </p>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
            <h3>Output</h3>
            <img class="img-fluid" style="max-width: 100%; height: auto;" src="{{ url_for('static', filename='images/whatsapp_chatbot.gif') }}">
        </div>
    </div>
{% endblock %}